{% extends 'base.html.twig' %}

{% block title %}Create a new Board
{% endblock %}

{% block body %}
    {{ include('board/_form.html.twig', {'form': form}) }}

    <div>
        <form method="post" data-action="click->sign#submit">
            <div>
                <label for="sign-pad" class="form-label">Signature</label>
                <canvas id="sign-pad" data-controller="sign" data-sign-target="pad"></canvas>
                <button class="btn btn-primary">Valider</button>
            </div>
        </form>
    </div>
{% endblock %}


{#
    {{ form(form) }} affiche tout le formulaire
    {{ form_row(form.title) }} affiche tous les éléments relatifs au champ title
    regroupe :
        * form_label(form.title)
        * form_errors(form.title)
        * form_help(form.title)
        * form_widget(form.title)

    form_start, form_rest, form_end


    {% block body %}
	{{ form_start(form) }}
	{{ form_errors(form) }}
    {{ form_widget(form) }}
    <button>Submit</button>
    {{ form_end(form) }}
{% endblock %}
#}
